doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript', src='javascripts/jquery-2.2.0.min.js')
    script.
      $(document).ready(function(){
        $('.removeDetail').click(function(){
        $('#inputFirstName').remove();
        });
      });
  body
  block content
